.ls_title {
  background-color: aliceblue;
  border: 1px solid rgba(200, 200, 200, 0.8);
  display: flex;
  flex-direction: row;
}
.ls_body {
  border: 1px solid rgba(200, 200, 200, 0.8);
}
h3 {
  position: relative;
  left: 30%;

}
h4 {
    position: relative;
    left: 35%;
    color: #777;
}
