.card-box {
  display: flex;
  justify-content: space-between;
  background-color: rgb(221, 221, 221); /* Grey background color */
  border: 2px solid #666666; /* 2px solid grey border */
  width: 70%; /* Sets the width to 70% of the parent */
  max-width: 1000px; /* Sets the maximum allowed width */
  margin-top: 5px;
  min-width: 360px;
}

.card-col {
  flex: 1;
  padding: 15px;
  min-width: 150px;
}
.span {
  color: blue;
}
.giveBookCard {
  height: 50px; /* Set the desired height of the box */
  background-color: rgb(255, 255, 255); /* Grey background color */
  border: 2px solid #cccccc; /* 2px solid grey border */
  padding: 10px; /* Optional: Add some padding inside the box */
}
.wantBookCard {
  display: flex;
  flex-direction: column; /* Stacks items vertically */
  justify-content: top;
  height: 50px; /* Set the desired height of the box */
  background-color: rgb(255, 255, 255); /* Grey background color */
  border: 2px solid #cccccc; /* 2px solid grey border */
  padding: 10px; /* Optional: Add some padding inside the box */
}
.requestCount {
  word-spacing: normal;
  text-align: end;
}
.single-line-placeholder {
  min-height: 1.2em; /* Adjust as needed for desired line height */
}
.bookWanted {
  text-align: left;
}
.bookToGive {
  text-align: left;
}
.ls_body {
  display: flex;
  justify-content: center; /* Centers horizontally */
}
