.my-item-card {
  display: block;
  position: relative;
  border: 1px solid #ddd;
  text-align: left;
  padding-left: 20px;
}

.ls_body ul {
  width: 80%;
}
.trade_status {
  font-size: small;
  display: flex;
  flex-direction: row;
}
.book_status {
  border: 1px solid #5bc0de;
  border-radius: 2px;
  background: #5bc0de;
  color: white;
}
.request_status {
  margin-left: 10px;
  border: 1px solid #f0ad4e;
  border-radius: 2px;
  background: #f0ad4e;
  color: white;
}
.user_link {
  color: #337ab7;
}
